
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IList<SportclubManager.Models.User>

<h2 align="center">Users</h2>
<p>
    @Html.ActionLink("Create New", "Info", "User", new {userId = -1}, null)
</p>
<table class="table table-bordered table-hover">
    @if (Model != null && Model.Count > 0)
    {
        <thead>
        <tr>
            <td>
                <b>First Name</b>
            </td>
            <td>
                <b>Last Name</b>
            </td>
            <td>
                <b>Login</b>
            </td>
            <td>
                <b>Role</b>
            </td>
            <td>
                
            </td>
        </tr>
        </thead>
        <tbody>
         @foreach (var user in Model)
         {
             <tr onclick="location.href = '@(Url.Action("Info", "User", new { userId = user.UserID }))'">
                 <td>
                     @user.FirstName
                 </td>
                 <td>
                     @user.LastName
                 </td>
                 <td>
                     @user.UserLogin
                 </td>
                 <td>
                     @user.Role.RoleName
                 </td>
                 <td>
                     @if (user.UserID != user.CurrentUserId)
                     {
                         @Html.ActionLink("Delete", "Delete", new {userId = user.UserID})
                     }
                 </td>
             </tr>
        }
        </tbody>
    }
</table>
