
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using SportclubManager.Auth
@model SportclubManager.Models.UserModel

<div class="container" align="center">
    <h2>User profile</h2>
    @{
        var htmlAttributes = new Dictionary<string, object> {{"class", "form-control"}};
        if (Model != null && UserProvider.CurrentUser.IsCoach)
        {
            htmlAttributes.Add("disabled", "disabled");
        }
    }
    @using (Html.BeginForm("Save", "User", FormMethod.Post, new {@class = "form-login", @role = "form"}))
    {
        <div class="container" align="left">
            <div hidden>
                @Html.TextBox("UserID", Model.UserID, new {@class = "form-control"})
            </div>
            <span>First Name</span><span class="req">*</span>
            @Html.TextBox("FirstName", Model.FirstName, new {@class = "form-control"})
            @Html.ValidationMessage("FirstName")
            <p></p>
            <span>Last Name</span><span class="req">*</span>
            @Html.TextBox("LastName", Model.LastName, new {@class = "form-control"})
            @Html.ValidationMessage("LastName")
            <p></p>
            <span>User login</span><span class="req">*</span>
            @Html.TextBox("UserLogin", Model.UserLogin, htmlAttributes)
            @Html.ValidationMessage("UserLogin")
            <p></p>

            @if (Model?.UserID == -1 || !UserProvider.CurrentUser.IsCoach || Model.UserID == UserProvider.CurrentUser.UserID)
            {
                <span>Password</span><span class="req">*</span>
                @Html.Password("UserPassword", Model.UserPassword, new {@class = "form-control"})
                @Html.ValidationMessage("UserPassword")
                <p></p>
            }

            <span>Role</span><span class="req">*</span>
            @Html.DropDownListFor(n => n.SelectedRoleValue, Model.Roles, "Please select a role", htmlAttributes)
            @Html.ValidationMessage("SelectedRoleValue")
            <p></p>

            <div id="groups">
                <span>Groups</span>
                @Html.ListBoxFor(l => l.SelectedGroups, Model.GroupList, htmlAttributes)
                @Html.ValidationMessage("Groups")
                <p></p>
            </div>

        </div>
        <div class="row">
            <div class="col-md-5">
                <button type="submit" class="btn btn-success" onclick="$(':disabled').removeAttr('disabled');">
                    Save changes
                </button>
            </div>
            <div class="col-md-5">
                @(UserProvider.CurrentUser.IsCoach ?
                      Html.ActionLink("Cancel editing", "Home", "Home", null, new {@class = "btn btn-danger"}) :
                      Html.ActionLink("Cancel editing", "Index", "User", null, new {@class = "btn btn-danger"}))
            </div>
        </div>
    }
</div>

<script>
    $(function() {
        if ('@Model.IsCoach.ToString()' == 'False') 
            $('#groups').hide();

        $('#SelectedRoleValue').change(function () {
            alert($('#SelectedRoleValue').val());
            if ($('#SelectedRoleValue').val() == 1) {
                $('#groups').hide();
            } else {
                $('#groups').show();
            }
        });
    });

</script>
