
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SportclubManager.Models.Document

<div class="container" align="center">
    <h2>Document information</h2>

    @using (Html.BeginForm("Save", "Document", FormMethod.Post, new { @class = "form-login" }))
    {
        <div class="container" align="left">
            <div hidden>
                @Html.TextBox("DocumentID", Model?.DocumentID, new { @class = "form-control" })
            </div>
            <span>Document Name</span>
            @Html.TextBox("DocumentName", Model?.DocumentName, new { @class = "form-control" })
            @Html.ValidationMessage("DocumentName")
            <p></p>

            <span>Document Location</span>
            @Html.TextBox("DocumentLocation", Model?.DocumentLocation, new { @class = "form-control" })
            @Html.ValidationMessage("DocumentLocation")
            <p></p>
        </div>
        <div class="row">
            <div class="col-md-5">
                <button type="submit" class="btn btn-success">
                    Save changes
                </button>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <button class="btn btn-danger" onclick='window.history.back();'>
                    Cancel editing
                </button>
            </div>
        </div>
    }
</div>


