
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SportclubManager.Models.Document

<div class="container" align="center">
    <h2>Document information</h2>
    @{
        AjaxOptions options = new AjaxOptions();
        options.HttpMethod = "GET";
        options.UpdateTargetId = "cont";
        options.InsertionMode = InsertionMode.Replace;
        options.OnComplete = "alert('complete')";
        options.OnSuccess= "alert('success')";
    }
    @using (Ajax.BeginForm("Save", "Document", FormMethod.Post, options, new {@class = "form-login", enctype = "multipart/form-data"}))
    {
        <div class="container" align="left">
            <div hidden>
                @Html.TextBox("DocumentID", Model?.DocumentID, new {@class = "form-control"})
            </div>
            <span>Document Name</span>
            @Html.TextBox("DocumentName", Model?.DocumentName, new {@class = "form-control"})
            @Html.ValidationMessage("DocumentName")
            <p></p>

            @*<span>Document Location</span>
                @Html.TextBox("DocumentLocation", Model?.DocumentLocation, new {@class = "form-control", disabled = "true"})
                @Html.ValidationMessage("DocumentLocation")*@

            @if (string.IsNullOrEmpty(Model?.DocumentLocation))
            {
                <p></p>
                <input type="file" name="file" class="form-control"/>
                <p></p>
            }
            else
            {
                <div class="row" id="cont">
                    <div class="col-md-5">
                        @*<button class="btn btn-block" onclick='openFile("@Model.DocumentLocation")'>
                            Open file
                        </button>*@
                        @Ajax.ActionLink("Open file", "OpenFile", new {location = Model.DocumentLocation}, options)
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5">
                        @*<button class="btn btn-block" onclick='sendRequestToRemove("@Model.DocumentLocation")'>
                            Delete file
                        </button>*@
                        @Ajax.ActionLink("Delete file", "DeleteFile", new {location = Model.DocumentLocation}, options)
                    </div>
                </div>
                <p></p>
            }

            <div class="row">
                <div class="col-md-5">
                    <button type="submit" class="btn btn-success">
                        Save changes
                    </button>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-5">
                    <button class="btn btn-danger" onclick='window.history.back();'>
                        Cancel editing
                    </button>
                </div>
            </div>
            
        </div>
    }
</div>
