
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SportclubManager.Models.Document

<script>
    function sendRequestToRemove() {
        var location = $("#DocumentLocation").val();

        $.ajax({
            type: "GET",
            url: "/Document/DeleteFile",
            data: { location: location },
            success: function(data) {
                $("#DocumentLocation").val(null);
                refreshControls();
            }
        });
    }

    function refreshControls() {
        if (!$("#DocumentLocation").val()) {
            $("#operate").hide();
            $("#choose").show();
        }
        else {
            $("#operate").show();
            $("#choose").hide();
        }
    }
</script>

<div class="container" align="center">
    <h2>Document information</h2>
    @{
        AjaxOptions options = new AjaxOptions();
        options.HttpMethod = "GET";
        options.InsertionMode = InsertionMode.Replace;
    }
    @using (Html.BeginForm("Save", "Document", FormMethod.Post,
                        new { @class = "form-login", enctype = "multipart/form-data", @role = "form" }))
    {
        <div class="container" align="left">
            <div hidden>
                @Html.TextBox("DocumentID", Model.DocumentID, new {@class = "form-control"})
            </div>

            <span>Document Name</span>
            @Html.TextBox("DocumentNameProxy", Model.DocumentNameProxy, new {@class = "form-control"})
            @Html.ValidationMessage("DocumentNameProxy")
            <p></p>

            @*<span>Document Location</span>
                @Html.TextBox("DocumentLocation", Model?.DocumentLocation, new {@class = "form-control", disabled = "true"})
                @Html.ValidationMessage("DocumentLocation")*@

            <span>Attachment</span>
            @Html.Hidden("DocumentLocation", Model.DocumentLocation)

            <div id="choose">
                <p></p>
                <input type="file" name="file" class="form-control"/>
                <p></p>
            </div>

            <div class="row table-bordered" id="operate">
                <div class="col-md-5">
                    @*<button class="btn btn-block" onclick='openFile("@Model.DocumentLocation")'>
                            Open file
                        </button>*@
                    @Ajax.ActionLink("Open file", "OpenFile", new {location = Model.DocumentLocation}, 
                            options, new { @class = "btn btn-default" })
                </div>
                <div class="col-md-5">
                    <button type="button" class="btn btn-default" onclick="sendRequestToRemove()">
                        Delete file
                    </button>
                </div>
            </div>
            <p></p>

        </div>

        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-success">
                    Save changes
                </button>
            </div>
            <div class="col-md-6">
                @Html.ActionLink("Cancel editing", "Index", "Document", null, new { @class = "btn btn-danger" })
            </div>
        </div>

    }
</div>
<script>
    $(window).load(function() {
        refreshControls();
    })
</script>
