<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sportclub Manager</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body class="body-content">
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            @if (Request.IsAuthenticated)
            {
                <p class="navbar-text">
                    <i>You are currently logged as: </i>
                    <strong>@Html.Encode(User.Identity.Name)</strong>
                </p>
                <b>@Html.ActionLink("Logout", "Logout", "Login", null, new {@class = "btn btn-default btn-sm navbar-btn"})</b>

            }@*else
            {
                <b>@Html.ActionLink("Login", "Index", "Login", null, new { @class = "btn btn-primary btn-lg" })</b>
            }*@</div>
    </div>
</div>


@RenderBody()

@RenderSection("scripts", required: false)

<footer class="modal-footer">
    &copy; 2017, Infolab
</footer>
</body>
</html>
