
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SportclubManager.Models.MemberEvidenceModel

<script>
    function addDate(i) {
        var date = new Date($("#Date").attr("date"));
        var newDate = addDays(date, i);
        $.ajax({
            type: "GET",
            url: "/MemberEvidence/AddDate",
            data: { date: toInternalDateString(newDate), groupId: $("#Group").val() },
            success: function(data) {
                $("#evidences").empty();
                $("#evidences").append(data);
                $("#Date").attr("date", toInternalDateString(newDate));
                $("#Date").val(toDisplayDateString(newDate));
                bindTable();
            }
        });
    }

    function addDays(date, days) {
        var d = new Date(date);
        d.setDate(d.getDate() + days);
        return d;
    }

    function toInternalDateString(d) {
        return d.getFullYear() + "-" + ("0" + (d.getMonth() + 1)).slice(-2) + "-" +("0" + d.getDate()).slice(-2);
    }

    function toDisplayDateString(d) {
        return ("0" + d.getDate()).slice(-2) + "." + ("0" + (d.getMonth() + 1)).slice(-2) + "." + d.getFullYear();
    }
</script>
<script>
    window.load = function() {
        $("#Group").change(function() {
            alert($("#Group").val());
        });
    }
</script>
<div class="container" align="center">
    <h2>Member evidence</h2>

    <div class="row">
        <div class="col-lg-6">
            @Html.DropDownList("Group", Model.GroupList, new {@class = "form-control"})
        </div>
        <div class="col-lg-6">
            <button type="button" class="btn btn-default" onclick="addDate(-1);">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </button>
            @Html.TextBox("Date", Model.CurrentDateString, 
                new {@disabled = "disabled", @align = "center", @date = Model.CurrentDate.ToString("yyyy-MM-dd")})
            <button type="button" class="btn btn-default" onclick="addDate(1);">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
        </div>
    </div>
    <p></p>
    <p></p>

    @if (Model.MemberEvidences != null && Model.MemberEvidences.Count > 0)
    {
        <div class="table-responsive" id="evidences">
            @Html.Partial("Evidences", Model.MemberEvidences)
        </div>
    }

    <p></p>
    <p>
        @Html.ActionLink("Save changes", "Save", "MemberEvidence", null, new {@class = "btn btn-success btn-lg"})
        @Html.ActionLink("Undo changes", "Index", "MemberEvidence", null, new {@class = "btn btn-warning btn-lg"})
        @Html.ActionLink("Home", "Home", "Home", null, new {@class = "btn btn-info btn-lg"})
    </p>
</div>
