
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IList<SportclubManager.Models.Group>

<h2 align="center">Groups</h2>
<p>
    @Html.ActionLink("Create New", "Info", "Group", new { groupId = -1 }, null)
</p>
<table class="table table-bordered table-hover">
    @if (Model != null && Model.Count > 0)
    {
        <thead>
            <tr>
                <td>
                    <b>Group Name</b>
                </td>
                <td>
                    <b>Coach</b>
                </td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var group in Model)
            {
                <tr onclick="location.href = '@(Url.Action("Info", "Group", new { groupId = group.GroupID }))'">
                    <td>
                        @group.GroupName
                    </td>
                    <td>
                        @group.CoachFullName
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { userId = group.GroupID })
                    </td>
                </tr>
            }
        </tbody>
    }
</table>

