
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SportclubManager.Models.Member

<div class="container" align="center">
    <h2>Member information</h2>
    @{
        AjaxOptions options = new AjaxOptions();
        options.HttpMethod = "GET";
        options.UpdateTargetId = "cont";
        options.InsertionMode = InsertionMode.Replace;
        options.OnComplete = "alert('complete')";
        options.OnSuccess = "alert('success')";
    }
    @using (Ajax.BeginForm("Save", "Member", FormMethod.Post, options, new { @class = "form-login", enctype = "multipart/form-data" }))
    {
        <div class="container" align="left">
            <div hidden>
                @Html.TextBox("MemberID", Model?.MemberID, new { @class = "form-control" })
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <span>First Name</span>
                    @Html.TextBox("FirstName", Model?.FirstName, new {@class = "form-control"})
                    @Html.ValidationMessage("FirstName")
                </div>
                <div class="col-lg-6">
                    <span>Last Name</span>
                    @Html.TextBox("LastName", Model?.LastName, new {@class = "form-control"})
                    @Html.ValidationMessage("LastName")
                </div>
            </div>
            <p></p>

            <span>Date of birth</span>
            <div class="controls">
                @Html.DropDownList("BirthdateDay", Model.BirthdateDaySelectList)
                @Html.DropDownList("BirthdateMonth", Model.BirthdateMonthSelectList)
                @Html.DropDownList("BirthdateYear", Model.BirthdateYearSelectList)
            </div>

            <p></p>

            <span>Address</span>
            @Html.TextBox("Address", Model?.Address, new { @class = "form-control" })
            @Html.ValidationMessage("Address")
            <p></p>

            <span>Father's Name</span>
            @Html.TextBox("Father", Model?.Father, new { @class = "form-control" })
            @Html.ValidationMessage("Father")
            <p></p>

            <span>Father's Mail</span>
            @Html.TextBox("FatherMail", Model?.FatherMail, new { @class = "form-control" })
            @Html.ValidationMessage("FatherMail")
            <p></p>

            <span>Father's Phone Number</span>
            @Html.TextBox("FatherPhoneNo", Model?.FatherPhoneNo, new { @class = "form-control" })
            @Html.ValidationMessage("FatherPhoneNo")
            <p></p>

            <span>Mother's Name</span>
            @Html.TextBox("Mother", Model?.Mother, new { @class = "form-control" })
            @Html.ValidationMessage("Mother")
            <p></p>

            <span>Mother's Mail</span>
            @Html.TextBox("MotherMail", Model?.MotherMail, new { @class = "form-control" })
            @Html.ValidationMessage("MotherMail")
            <p></p>

            <span>Mother's Phone Number</span>
            @Html.TextBox("MotherPhoneNo", Model?.MotherPhoneNo, new { @class = "form-control" })
            @Html.ValidationMessage("MotherPhoneNo")
            <p></p>

            <span>Group</span>
            @Html.DropDownListFor(n => n.SelectedGroupValue, Model?.Groups, "Please select a group", new { @class = "form-control" })
            @Html.ValidationMessage("Group")
            <p></p>

            <span>Photo</span>
            @if (string.IsNullOrEmpty(Model?.PhotoLocation))
            {
                <p></p>
                <input type="file" name="file" class="form-control" />
                <p></p>
            }
            else
            {
                <div class="row table-bordered" id="cont">
                    <div class="col-md-5">
                        @*<button class="btn btn-block" onclick='openFile("@Model.PhotoLocation")'>
                            Open file
                        </button>*@
                        @Ajax.ActionLink("Open photo", "OpenPhoto", new { location = Model.PhotoLocation }, options)
                    </div>
                    <div class="col-md-5 col-lg-offset-2">
                        @*<button class="btn btn-block" onclick='sendRequestToRemove("@Model.PhotoLocation")'>
                            Delete file
                        </button>*@
                        @Ajax.ActionLink("Delete photo", "DeletePhoto", new { location = Model.PhotoLocation }, options)
                    </div>
                </div>
                <p></p>
            }

            <span>Is active</span>
            @Html.CheckBox("IsActive", Model.IsActive.GetValueOrDefault(false))
            @Html.ValidationMessage("IsActive")
            <p></p>

            <div class="row">
                <div class="col-md-5">
                    <button type="submit" class="btn btn-success">
                        Save changes
                    </button>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-5">
                    <button class="btn btn-danger" onclick='window.history.back();'>
                        Cancel editing
                    </button>
                </div>
            </div>

        </div>
    }
</div>

